<head>
  <!-- Plotly.js -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>

    <div id="sales_div" style="width: 240px; height: 250px; float: left;"></div>
    <div id="order_quantities" style="width: 240px; height: 250px; float: left;"></div>
    <div id="profits" style="width: 240px; height: 250px; float: left;"></div>
    <div id="profit_ratio" style="width: 240px; height: 250px; float: left;"></div>
    <div id="unique_customer_names" style="width: 240px; height: 250px; float: left;"></div>
    <div id="sales_per_customer" style="width: 240px; height: 250px; margin-left: 1100px;"></div>

<script src="/static/js/bar_demo.js"></script>

    <!-- JAVASCRIPT CODE GOES HERE -->
</body>
