<head>
  <!-- Plotly.js -->
  <!-- // <script type="text/javascript" src="/static/js/plotly.js"></script> -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="http://d3js.org/topojson.v1.min.js"></script>
</head>
<body>
  <div id="myDiv"></div>
  <script src="/static/js/excel.js"></script>
</body>

